.wrapper-outer{
	min-height: 100%;
}
.section1{
	min-height: 10%;

}
.section2{
	min-height: 30%;
	height: 520px;
}
.section3 {
	min-height: 5%;
}
.section4{
    min-height: 5%;
}
.section5 {
	 min-height: 10%;
}
.section6 {
	  min-height: 40%;
}
.players {
	height: 450px;
 }
.row {
	margin-left: auto;
	margin-right: auto;
}
.panel-min {
	height: 350px;
}
.format-playarea {
	min-height: 300px;
}
.format-msgarea {
	min-height: 150px;
}
.currentPlayers {
	/*float: left;*/
}
.score {
	margin: auto;
}
#messages {
	margin-top: auto;

}
#startofgame {
	min-height: 400px;
}
#defender-area {
	background-color: white;
	border-radius: 100px;
	height: 450px;
	color: black;
	background-image: url("../../assets/images/defender.jpg");
}
#opponent-area {
	background-color: white;
	border-radius: 100px;
	height: 450px;
	color: black;
}
/*.img-responsive {
	max-width: 50%;
}*/

p {
	margin-top: 10px;
}
img {
	height: 200px;
	/*//width: %;*/
	margin: 0 auto;
	padding: 5px;

}
body {
	background-image: url("../../assets/images/background.png");
}
h3{
	line-height: 1;
	min-height: 50px;
}
h2 {
	/*width: 50%;*/
}