.wrapper-outer{
	min-height: 100%;
	padding-top: 30px;
}
.top-half{
	background-image: url("../../assets/images/defender.png");
}
.bottom-half{
	background-image: url("../../assets/images/background.png");
	border-radius: 100px;
}
.section1{
	min-height: 100px;
	/*padding-top: 50px;*/
	background-image: url("../../assets/images/background.png");
}
.section2{
	min-height: 30%;
	height: 550px;
}
/*.section3 {
    min-height: 200px;
    padding-top: 250px;
    padding-left: 100px;
}
.section4{
    min-height: 200px;
    padding-top: 100px;
    padding-left: 100px;

}*/
/*.section5 {
	 /*min-height: 200px;*/
/*	 background-image: url("../../assets/images/background.png");*/
/*}*/
*/.section6 {
	  min-height: 40%;
}
.players {
	height: 400px;
 }
.row {
	margin-left: auto;
	margin-right: auto;
}
.panel-min {
	height: 350px;
}
.format-playarea {
	min-height: 300px;
}
.format-msgarea {
	min-height: 150px;
}
.currentPlayers {
	/*float: left;*/
}
.score {
	margin: auto;
}
.modal {
    display: none; /* Hidden by default */
    /*position: fixed;  Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    padding-left: 5px;
    padding-right: 5px;
    left: 30%;
    top: 50%;
    width: 50%; /* Full width */
    /*height: 30%; *//* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
/* The Close Button */
#close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


#attack{
	width: 100px;
	height: 50px;
	border-radius: 50px;
	border-style: solid;
	border-weight: 2px;
	background-color: #2c4b13;
	color: white;
}
#restart {
    width: 100px;
	height: 50px;
	border-radius: 50px;
	border-style: solid;
	border-weight: 2px;
	background-color: #c21c30;
	color: white;
}
#messages {
	margin-top: 50px;
	font-size: 30px;
	color: white;

}
#startofgame {
	min-height: 400px;
}
#defender-area {
	/*background-color: white;*/
	border-radius: 100px;
	height: 450px;
	/*color: black;*/
    /*background-image: url("../../assets/images/background.png");*/
	 
}
#opponent-area {
	/*background-color: white;*/
	border-radius: 100px;
	height: 450px;
	/*color: black;*/
	/*background-image: url("../../assets/images/background.png");*/
}
/*.img-responsive {
	max-width: 50%;
}*/

p {
	margin-top: 10px;
}
img {
	height: 200px;
	/*//width: %;*/
	margin: 0 auto;
	padding: 5px;

}
body {
	background-image: url("../../assets/images/background.png");
	
}

h3{
	line-height: 1;
	min-height: 50px;
}
h2 {
	/*width: 50%;*/
}